* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 625%;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  font-size: .14rem;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: .4rem;
  padding: 0 .1rem;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

section {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  background: #ccc;
  box-sizing: border-box;
  padding: 0 .15rem;
}

section .box {
  margin-top: .5rem;
  background: #fff;
  height: 3rem;
  border-radius: .08rem;
  width: 100%;
}

section .box .title {
  width: 100%;
  height: .35rem;
  padding: .15rem 0;
}

section .box .title p {
  width: 1.5rem;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: .3rem;
}

section .box .title p img {
  width: 100%;
  height: 100%;
}

section .box .main {
  width: 80%;
  margin-top: .3rem;
  margin: 0 auto;
}

section .box .main p {
  width: 100%;
  height: .6rem;
  border-bottom: .02rem solid #ccc;
  line-height: .6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .1rem;
}

section .box .main p img {
  width: .2rem;
  height: auto;
}

section .box .main p input {
  width: 80%;
  height: .3rem;
  margin-left: .1rem;
  border: none;
  outline: none;
}

section .box .main .btn {
  display: block;
  border: none;
  color: #fff;
  background: #2cd10a;
  border-radius: .08rem;
  width: 100%;
  height: .35rem;
  margin-top: .2rem;
  line-height: .35rem;
  text-align: center;
}
